<div class="container-fluid ">
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- Wrapper for slides -->
  <div class="carousel-inner banner" role="listbox">
    <div class="item">
    <div class="col-sm-6 col-sm-offset-1 slide">
      <h1>CLEAN AND RESPONSIVE DESIGN......!</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et hendrerit ligula, vel dictum massa. Suspendisse potenti.</h2>
      <p> Donec posuere velit id diam aliquam, at imperdiet velit malesuada. Vestibulum vitae vehicula tellus. Nam quis orci tristique, molestie turpis vel, commodo neque. </p>
      <button class="btn btn-primary">READ MORE</button>
      <div class="clearfix"></div>
    </div>
</div>
    <div class="item">
           <div class="col-sm-6 col-sm-offset-1 slide">
      <h1>POPULAR AND RESPONSIVE DESIGN......!</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et hendrerit ligula, vel dictum massa. Suspendisse potenti.</h2>
      <p> Donec posuere velit id diam aliquam, at imperdiet velit malesuada. Vestibulum vitae vehicula tellus. Nam quis orci tristique, molestie turpis vel, commodo neque. </p>
    <button class="btn btn-primary">READ MORE</button>
      <div class="clearfix"></div>
    </div>
    </div>

    <div class="item">
         <div class="col-sm-6 col-sm-offset-1 slide">
      <h1>COLL AND RESPONSIVE DESIGN......!</h1>
     <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et hendrerit ligula, vel dictum massa. Suspendisse potenti.</h2>
      <p> Donec posuere velit id diam aliquam, at imperdiet velit malesuada. Vestibulum vitae vehicula tellus. Nam quis orci tristique, molestie turpis vel, commodo neque. </p>
    <button class="btn btn-primary">READ MORE</button>
      <div class="clearfix"></div>
    </div>
    </div>

    <div class="item active">
           <div class="col-sm-6 col-sm-offset-1 slide">
      <h1>FLAXIBLE AND RESPONSIVE DESIGN......!</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et hendrerit ligula, vel dictum massa. Suspendisse potenti.</h2>
      <p> Donec posuere velit id diam aliquam, at imperdiet velit malesuada. Vestibulum vitae vehicula tellus. Nam quis orci tristique, molestie turpis vel, commodo neque. </p>
    <button class="btn btn-primary">READ MORE</button>
      <div class="clearfix"></div>
    </div>
    </div>
  </div>

  <div class="control-box">                            
            <a data-slide="prev" href="#myCarousel" class="carousel-control left"><span class="fa fa-angle-double-left"></span></a>
            <a data-slide="next" href="#myCarousel" class="carousel-control right">  <span class="fa fa-angle-double-right"></span></a>
        </div><!-- /.control-box -->   
</div>




<!-- LEFT -->
<div class="container-fluid">
<div class="container">
<div class="col-sm-6 about-left animated wow zoomIn" data-wow-delay=".2s">
<h1>Welcome to Our Site</h1>
<hr>
<img src="http://www.kirkepaynesolicitors.com.au/wp-content/uploads/sites/1155/2016/03/gold-coast-business-purchase-lawyer.jpg" class="img-responsive">
<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque fermentum mi malesuada eleifend cursus. Suspendisse sit amet dapibus tellus, non facilisis justo. Ut neque erat, ullamcorper et massa vel, semper congue nisl. Ut et ante eleifend, tempor turpis in, eleifend nibh. Maecenas facilisis turpis ipsum, nec consequat justo porta eu. Nam fringilla ante pretium lobortis consectetur.</p>
<button class="btn btn-primary pull-right">READ MORE</button>
<div class="clearfix"></div>
</div>
<!-- left -->

<!-- RIGHT -->

<div class="col-sm-6 about-right animated wow zoomIn" data-wow-delay=".6s">
  
  <h1>Recent Blogs</h1>

  <hr>
  <div id="myCarousel1" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="col-sm-12">
          <p>Lorem ipsum</p>

          <img src="http://alkof.com/wp-content/uploads/2015/05/How-To-Promote-A-Small-Business-For-Free-e1431334991453.jpg"  class="img-responsive">

          <h2><span class="fa fa-calendar"></span>  25-8-2015  <span class="fa fa-comment"></span> No Comment</h2>
          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque fermentum mi malesuada eleifend cursus. Suspendisse sit amet dapibus    tellus, non facilisis justo.<a href="">READ MORE</a></p>

        </div>

      </div>
      <div class="item">

       <div class="col-sm-12">
        <p>Lorem ipsum</p>

        <img src="http://www.dezineguide.com/wp-content/uploads/2011/05/Download-Free-Business-Card.jpg"  class="img-responsive">

        <h2><span class="fa fa-calendar"></span>  25-8-2015  <span class="fa fa-comment"></span> No Comment</h2>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque fermentum mi malesuada eleifend cursus. Suspendisse sit amet dapibus    tellus, non facilisis justo.<a href="">READ MORE</a></p>

      </div>

    </div>

    <div class="item">

     <div class="col-sm-12">
      <p>Lorem ipsum</p>

      <img src="https://www.outvise.com/wp-content/uploads/2014/12/business-8-dic14-600x250.jpg"  class="img-responsive">

      <h2><span class="fa fa-calendar"></span>  25-8-2015  <span class="fa fa-comment"></span> No Comment</h2>
      <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque fermentum mi malesuada eleifend cursus. Suspendisse sit amet dapibus    tellus, non facilisis justo.<a href="">READ MORE</a></p>

    </div>

  </div>

  <div class="item">
   <div class="col-sm-12">
    <p>Lorem ipsum</p>
    
    <img src="https://www.smallfish.com.au/wp-content/uploads/2015/09/trades-business-marketing-part-1.jpg"  class="img-responsive">

    <h2><span class="fa fa-calendar"></span>  25-8-2015  <span class="fa fa-comment"></span> No Comment</h2>
    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque fermentum mi malesuada eleifend cursus. Suspendisse sit amet dapibus    tellus, non facilisis justo.<a href="">READ MORE</a></p>
    </div>
  </div>

</div>

<div class="control-box1">                            
  <a data-slide="prev" href="#myCarousel1" class="carousel-control left"><span class="fa fa-angle-double-left"></span></a>
  <a data-slide="next" href="#myCarousel1" class="carousel-control right">  <span class="fa fa-angle-double-right"></span></a>
</div>
<!-- /.control-box -->   
</div>

</div>
<!-- right -->




<!--------about-------->




<div class="container-fluid testimonials animated wow zoomIn" data-wow-delay=".4s">
  <div class="container">
    <h1>Testimonials</h1>
    <hr>

    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel2" data-slide-to="1"></li>
        <li data-target="#myCarousel2" data-slide-to="2"></li>
        <li data-target="#myCarousel2" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="col-sm-12">
            <div class="circle col-sm-2"><img src="http://www.revlocal.com/Files/images/Portraits/jfalvo_200_(2).jpg" class="img-circle img-responsive"></div>
            <h2>Name</h2>
            <p>Pellentesque eros ipsum, tristique non ornare at, dapibus sed enim. Mauris aliquam maximus dictum. Curabitur metus ex, rhoncus ut imperdiet eu, ornare ac nisi. Maecenas dignissim a augue eget ultrices. Ut eget ipsum justo. Fusce interdum diam a lectus porta vestibulum eget quis magna.</p>

          </div>
        </div>

        <div class="item">
         <div class="col-sm-12">
          <div class="circle col-sm-2"><img src="https://mainstreetbusinesscapital.com/wp-content/uploads/2016/03/main-street-business-capital-team-nic-stephens-200x200.jpg" class="img-circle img-responsive"></div>
          <h2>Name</h2>
          <p>Pellentesque eros ipsum, tristique non ornare at, dapibus sed enim. Mauris aliquam maximus dictum. Curabitur metus ex, rhoncus ut imperdiet eu, ornare ac nisi. Maecenas dignissim a augue eget ultrices. Ut eget ipsum justo. Fusce interdum diam a lectus porta vestibulum eget quis magna.</p>
        </div>
      </div>

      <div class="item">
       <div class="col-sm-12">
        <div class="circle col-sm-2"><img src="http://static.contentres.com/media/images/fbcf0ffc-7d8d-4bc5-8fc5-47941624e72c.jpg" class="img-circle img-responsive"></div>
        <h2>Name</h2>
        <p>Pellentesque eros ipsum, tristique non ornare at, dapibus sed enim. Mauris aliquam maximus dictum. Curabitur metus ex, rhoncus ut imperdiet eu, ornare ac nisi. Maecenas dignissim a augue eget ultrices. Ut eget ipsum justo. Fusce interdum diam a lectus porta vestibulum eget quis magna.</p>
      </div>
    </div>

    <div class="item">
      <div class="col-sm-12">
        <div class="circle col-sm-2"><img src="http://www.revlocal.com/Files/images/Portraits/bdavidson_200.jpg" class="img-circle img-responsive"></div>
        <h2>Name</h2>
        <p>Pellentesque eros ipsum, tristique non ornare at, dapibus sed enim. Mauris aliquam maximus dictum. Curabitur metus ex, rhoncus ut imperdiet eu, ornare ac nisi. Maecenas dignissim a augue eget ultrices. Ut eget ipsum justo. Fusce interdum diam a lectus porta vestibulum eget quis magna.</p>
      </div>
    </div>
  </div>


</div>


</div>
</div><!-------------Testimonials---------->

</div>


<%#= render 'layouts/contacts' %>