<div class="container-fluid ">
 
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <%= render "carousel" %>
</div>

<!-- LEFT -->
<div class="container-fluid">
  <div class="container">
    <div class="col-sm-6 about-left animated wow zoomIn" data-wow-delay=".2s">
      <h1>Welcome to Our Site</h1>
      <hr>
      <img src="http://www.kirkepaynesolicitors.com.au/wp-content/uploads/sites/1155/2016/03/gold-coast-business-purchase-lawyer.jpg" class="img-responsive">
      <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque fermentum mi malesuada eleifend cursus. Suspendisse sit amet dapibus tellus, non facilisis justo. Ut neque erat, ullamcorper et massa vel, semper congue nisl. Ut et ante eleifend, tempor turpis in, eleifend nibh. Maecenas facilisis turpis ipsum, nec consequat justo porta eu. Nam fringilla ante pretium lobortis consectetur.</p>
      <button class="btn btn-primary pull-right">READ MORE</button>
      <div class="clearfix"></div>
    </div>
    <!-- left -->

    <!-- RIGHT -->
    <div class="col-sm-6 about-right animated wow zoomIn" data-wow-delay=".6s">
      <h1>Recent Blogs</h1><hr>
      <%= render 'carousel1' %>
    </div>
    <!-- right -->
  </div>
</div>

<!-- TESTIMONIALS -->
<div class="container-fluid testimonials animated wow zoomIn" data-wow-delay=".4s">
  <div class="container">
    <br><h1>Testimonials</h1><hr>

    <%= render "testemonial" %>

  </div>
</div>
<!-- Testimonials -->

</div>


<%#= render 'layouts/contacts' %>
